

#nav-button-no:hover{
    background-color: rgb(187, 49, 49);

}
#nav-button-yes:hover{
    background-color: rgb(89, 255, 0);
}

h1{
    text-align:center;
    background-color: seashell;
}
input{
    display:block;
    margin: 10px auto;
}












/* . # > + , ~*/