

#nav-button-no:hover{
    background-color: rgb(187, 49, 49);

}
#nav-button-yes:hover{
    background-color: rgb(89, 255, 0);
}
#nav-button-yes, #nav-button-no{
    min-width: 100px;
    min-height: 30px;
    border-radius: 5px;
}

h1, div{
    text-align:center;
    background-color: seashell;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    
}
input{
    display:block;
    margin: 10px auto;
    border-radius: 5px;

}


#search-button:hover{
   background-color: rgb(216, 206, 233); 
}









/* . # > + , ~*/